<div class="container" id="<%= dom_id recipe %>">
  <div class="row border border-dark border-2 p-2">
    <div class="d-flex flex-column col-4">
      <h2><%=recipe.name%></h2>
      <% if current_user.id == recipe.user_id%>
        <%= button_to recipe, method: :delete, class: 'btn btn-danger' do%>
          <i class="fas fa-minus"></i>
          <span>Remove</span>
        <% end %>
      <% end %>
    </div>
    <p class="col-8 d-flex align-items-center m-0">
      <%=recipe.description%>
    </p>
  </div>
</div>