<p style="color: green"><%= notice %></p>

<% if current_user%>
  <div class="text-end pb-4">
    <%= link_to "New recipe", new_recipe_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
<div id="recipes" class="d-flex gap-3 flex-column">
  <% if @recipes.length === 0 %>
    <div class="w-100 text-center fs-4 fw-bold border border-dark border-2 p-2">No Recipes found</div>
  <% else %>
    <% @recipes.each do |recipe| %>
      <% if current_user&.id == recipe.user_id %>
        <%= link_to recipe_path(recipe), class: 'text-decoration-none text-dark recipe-links' do %>
          <%= render recipe %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>